
body
{
    background-color: #2f2e2e;
    color:#CCD9D4;
    text-align: center;
    font-family:courier new,courier,monospace;
}

a:link
{
    color: #185952;
}
a:visited
{
    color: #185952;
}
a:hover
{
    color: #26c97a;
}
a:active
{
    color: #26c97a;
}
a
{
    text-decoration: none;
}

::selection
{
    background: #bababa;
}
::-moz-selection
{/* for firefox */
    background: #bababa;
}

.maincontainer
{
    background-color: #222222;
    width: 900px;
    margin: auto;
    padding: 10px;
}