
body
{
    background-color: #2f2e2e;
    text-align: center;
    font-family:courier new,courier,monospace;
}

a:link
{
    color: #185952;
}
a:visited
{
    color: #185952;
}
a:hover
{
    color: #26c97a;
}
a:active
{
    color: #26c97a;
}
a
{
    text-decoration: none;
}

::selection
{
    background: #bababa;
}
::-moz-selection
{/* for firefox */
    background: #bababa;
}

.title
{
    color: #CCD9D4;
    font-size: 42px;
}

.content
{
    background-color: #222222;
    color:#CCD9D4;
    width: 900px;
    margin: auto;
    margin-top: -8px;
    text-align: left;
}
.content > p
{
    padding: 15px;
}
.content > h2
{
    text-align: center;
    background-color: #111111;
}