
body
{
    background-color: #2f2e2e;
    text-align: center;
    font-family:courier new,courier,monospace;
}

a:link
{
    color: #222222;
}
a:visited
{
    color: #222222;
}
a:hover
{
    color: #80fc99;
}
a:active
{
    color: #26c97a;
}
a
{
    text-decoration: none;
}

::selection
{
    background: #bababa;
}
::-moz-selection
{/* for firefox */
    background: #bababa;
}

.notice
{
    display: inline-block;
    width: 750px;
    text-align: center;
    border: solid #185952 2px;
    color:#CCD9D4;
    font-size: 8px;
    background-color: #222222;
    border-radius: 15px;
    padding: 0px 14px 0px 14px;
    margin-bottom: 40px;
}

.container
{
    width: 800px;
    /*border: dotted #ffffff 2px;*/
    text-align: center;
    margin: auto;
    text-align: left;
    overflow: hidden;
}

.downloadbutton
{
    background-color: #22aa66;
    border-radius: 20px;
    width: 300px;
    height: 55px;
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    line-height: 0px;  
    text-align: center;
    float: left;
    margin-left: 25px;
    margin-top: 85px;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
}

.generalinfo
{
    background-color: #222222;
    color:#CCD9D4;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 350px;
}

.changelogcontainer
{
    background-color: #222222;
    color:#CCD9D4;
    width: 800px;
    margin: auto;
}

.changelogentry
{
    background-color: #262626;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
}